---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ site.name }}</title><subtitle>{{ site.description }}</subtitle>
  <link href="{{ site.url }}/feed.xml" rel="self"/><link href="{{ site.url }}/"/>
  <id>{{ site.url }}/</id><updated>{{ collections.posts[0].date | isoDate if collections.posts.length else buildDate | isoDate }}</updated>
  <author><name>{{ site.author }}</name></author>
  {% for post in collections.posts | take(30) %}<entry><title>{{ post.data.title }}</title><link href="{{ post.url | absolute }}"/><id>{{ post.url | absolute }}</id><published>{{ post.date | isoDate }}</published><updated>{{ (post.data.updated or post.date) | isoDate }}</updated><summary>{{ post.data.description }}</summary><category term="{{ post.data.category }}"/></entry>{% endfor %}
</feed>
